#logo {http://127.0.0.1:8000/
}

body{
	background-color: #ebeff5;
}


#total-orders{
	background-color: #4cb4c7;
}


#orders-delivered{
	background-color: #7abecc;
}

#orders-pending{
	background-color: #7CD1C0;
}
