#logo {
    height: 45px;       /* Adjust the size to match Dennis Ivy’s logo */
    width: auto;
    margin-right: 20px; /* Space between logo and Dashboard */
    margin-left: 10px;
}

body{
	background-color: #ebeff5;
}


#total-orders{
	background-color: #4cb4c7;
}


#orders-delivered{
	background-color: #7abecc;
}

#orders-pending{
	background-color: #7CD1C0;
}
